body {
    padding: 0;
    margin: 0;

    font-family: Georgia, serif;
    font-size: 14px;
    background-color: #dfdfdf;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #0796fc;
}

a:hover {
    text-decoration: none;
    color: #74c3fc;
}


main {
    width: 100%;
    margin: 0 auto;
}

.page {
    width: 1200px;
    margin: 50px auto;
    border: thin solid #aaa;
    background-color: white;
    padding: 20px;
}
.page-tab-bar {
    width: 1200px;
    margin: 50px auto -50px auto;
    padding: 0 20px;
}
.page-tab-bar .page-tab {
    display: inline-block;
    padding: 5px 20px;
    border: thin solid #aaa;
    background-color: #ddd;
}
.page-tab-bar .page-tab.selected  {
   background-color: white; 
   padding-bottom: 7px;
   margin-bottom: -2px;
   border-bottom: none;
}

