body {
    padding: 0;
    margin: 0;

    font-family: Georgia, serif;
    font-size: 14px;
    background-color: #eee;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #0796fc;
}

a:hover {
    text-decoration: none;
    color: #74c3fc;
}


main {
    width: 100%;
    margin: 0 auto;
}

main .page {
    width: 1200px;
    margin: 50px auto;
    border: thin solid #ddd;
    background-color: white;
    padding: 20px;
}

