.comment-outer {
    padding: 20px 5px 0 5px;
    border-bottom: thin solid #bbb;
}
.comment-outer .profile-picture {
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: thin solid #aaa;
    background-color: #bbb;
}
.comment-outer .comment-inner {
    clear: both;
}
.comment-outer .controls {
    float: right;
    margin-top: -15px;
}
.comment-outer .controls svg {
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    padding-left: 5px;
    color: #666;
}
.comment-outer .controls svg:hover {
    color: red;
}
