.comment-thread-pin {
    position: absolute;
    background: rgba(170, 103, 3, 0.75);
    border-radius: 18px;
    width: 16px;
    height: 16px;
    z-index: 100;
    margin-left: -8px;
    margin-top: -8px;
    transition: width .1s;
    transition: height .1s;
    transition: background-color .1s;
}
.comment-thread-pin:hover {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    margin-left: -11px;
    margin-top: -11px;
    background-color: rgba(211, 178, 14, 0.75);
}

.comment-thread-pin.selected {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    margin-left: -11px;
    margin-top: -11px;
    background-color: rgba(211, 178, 14, 0.75);
}
