#get-involved {
    max-width: 800px;
    margin: 30px auto 50px auto;
}
#get-involved .description { text-align: center; }
#get-involved .ways-to-get-involved {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-size: 14px;
}
#get-involved .ways-to-get-involved .involve-method { padding: 20px; }
#get-involved #follow { grid-column: 1/2; grid-row: 1/2; }
#get-involved #follow img { height: 64px; }
#get-involved #sponsor { grid-column: 2/3; grid-row: 1/2; }
#get-involved #sponsor .sponsors-badge { padding: 20px }
#get-involved #chat{ grid-column: 3/4; grid-row: 1/2; }
#get-involved #chat img { height: 64px; }
#get-involved #roadmap { grid-column: 1/2; grid-row: 2/3; }
#get-involved #contribute{ grid-column: 2/3; grid-row: 2/3; }
#get-involved #discuss { grid-column: 3/4; grid-row: 2/3; }
