.paper-header {}
.paper-header h2 { font-weight: 400; margin: 10px 0; padding: 0; }
.paper-header .submitted-date { display: inline-block; margin-right: 5px; }
.paper-header .authors { display: inline-block; }
