.published-paper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
}
.published-paper .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding: 10px;
}

.published-paper .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding: 50px 10px 10px 10px;
}
.published-paper .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 50px 20px;
}
.published-paper .published-date {
    text-align: center;
}
.published-paper .paper-votes .highlight {
    color: red;
}
