@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
  border-top-color: var(--primary-color-darkest);
  animation: spinner .6s linear infinite;
}

.spinner-wrapper.local {
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin: auto auto;
}

.spinner-wrapper.local .spinner-local:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin: auto auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
  border-top-color: var(--primary-color-darkest);;
  animation: spinner .6s linear infinite;
}
