.review-summary-form {
}
.review-summary-form textarea {
    box-sizing: border-box;
    display: block;
    border: thin solid #ddd;
    height: 200px;
    padding: 10px;
}
.review-summary-form .recommendation-wrapper {
    text-align: right;
}
