.review-summary-form {
}
.review-summary-form textarea {
    box-sizing: border-box;
    display: block;
    border: thin solid #ddd;
    height: 200px;
    width: 780px;
    padding: 10px;
}
.review-summary-form .recommendation-wrapper {
    text-align: right;
}
.review-summary-form .submission-error {
    text-align: center;
    padding: 20px;
    color: red;
}
