.welcome-notice {
    position: relative;
    border: thin solid #b7b584;
    background-color: #edebd5;
    padding: 15px;
    margin: 20px auto;
    width: 900px;
}
.welcome-notice .close {
    position: absolute;
    top: 5px;
    right: 5px;
}
