.user-account-view {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 150px auto;
    min-width: 1000px;
    min-height: 600px;
}
.user-account-view .nav-wrapper {
    grid-column: 1 / 2;
}
.user-account-view .nav-wrapper nav {
    margin: 0 auto;
    background-color: white;
}
.user-account-view nav .pane-link {
   border-top: thin solid #ccc;
   border-bottom: thin solid #ccc;
   border-left: thin solid #ccc;
}
.user-account-view nav .pane-link.selected {
    position: relative;
    width: 151px;
    background-color: white;
    z-index: 100;
}
.user-account-view nav .pane-link a {
    display: inline-block;
    padding: 10px;
}
.user-account-view .pane {
    grid-column: 2 / 3;
    border: thin solid #ccc;
    padding: 30px;
    background-color: white;
}



