.reputation-thresholds {
    width: 150px;
}
.reputation-thresholds .header h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}
.reputation-thresholds .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.reputation-thresholds .content .reputation {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    padding: 10px;
}
.reputation-thresholds .content .label {
    font-size: 14px;
    font-weight: normal;
}
.reputation-thresholds .content .publish {
    grid-row: 1 / 2;
}
.reputation-thresholds .content .review {
    grid-row: 2 / 3;
}
.reputation-thresholds .content .referee {
    grid-row: 3 / 4;
}
