.paper-page-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.paper-page-header .submission-controls-wrapper {
    margin: 20px;
    padding: 10px;
}
.published-paper .main {
    padding: 50px 20px;
}
