.floating-menu { }
.floating-menu { 
    display: inline-block;
    position: relative;
}


.floating-menu .menu-trigger {
    font-size: 14px;
    cursor: pointer;
}
.floating-menu .menu-trigger.active {
    color: #444;
}
.floating-menu .menu-trigger svg {
    display: inline-block;
    width: 14px;
}
.floating-menu .menu-trigger:hover {
    color: #444;
}


.floating-menu .menu-body {
    position: absolute;
    top: 1.5em;
    right: 0;
    text-align: center;
    background-color: white; 
    border: thin solid var(--floating-menu-border-color);
    box-shadow: 0 0 3px 1px rgba(100,100,100,0.2);
    padding: 0;
    z-index: 1000;

}


.floating-menu .menu-body .menu-header {
    position: relative;
    padding: 5px 20px;
    border-bottom: thin solid var(--floating-menu-border-color);
}
.floating-menu .menu-body .menu-header .menu-title {
    padding: 15px;
}
.floating-menu .menu-body .menu-header .menu-escape {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}


.floating-menu .menu-body .menu-item {
    padding: 5px 10px 5px 10px;
    text-transform:capitalize;
    border-bottom: thin solid var(--floating-menu-border-color);
}
.floating-menu .menu-body .menu-item:hover {
    color: white;
    background-color: var(--primary-highlight-color);
}
.floating-menu .menu-body .menu-item a:hover {
    color: white;
}
