.paper-response-form {
    display: grid;
    grid-template-columns: 100px auto;
    margin: 20px auto;
}
.paper-response-form .response-wrapper {
    grid-column: 2 / 3;
}
.paper-response-form .content textarea {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 150px;
    padding: 10px;
    border: thin solid var(--input-border-color);
}
.paper-response-form .submit {
    margin: 5px auto;
    width: 820px;
    text-align: right;
}
.paper-response-form .response-wrapper .word-count {
    padding: 10px 0;
    text-align: center;
}

.paper-response-form .vote-widget {
    grid-column: 1 /2;

    margin: 10px auto;
    width: 80px;
    text-align: center;
    padding: 0;
}
.paper-response-form .vote-widget button {
    margin: 10px auto;
}

