.paper-response-view {
    display: grid;
    grid-template-columns: 300px auto;
    padding: 20px;
    border-bottom: thin solid #bbb;
    border-top: thin solid #bbb;
}
.paper-response-view .sidebar {
    grid-column: 1/2;
}
.paper-response-view .response-content {
    grid-column: 2 / 3;
}

.paper-response-view .vote-widget {
    margin: 10px auto;
    width: 40px;
    padding: 0;
}

.paper-response-view .vote-widget .vote-text {
    width: 28px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
} 

.paper-response-view .vote-widget .vote-up {
    width: 0;
    height: 0;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 40px solid #ccc;
    margin-bottom: 10px;
}
.paper-response-view .vote-widget .vote-up.highlight {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 40px solid green;
}


.paper-response-view .vote-widget .vote-down {
    width: 0;
    height: 0;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-top: 40px solid #ccc;
    margin-top: 10px;
}
.paper-response-view .vote-widget .vote-down.highlight {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-top: 40px solid red;
}

