.paper-timeline-comment-form-wrapper {
    border: thin solid var(--main-border-color);
}
.paper-timeline-editor-controls-wrapper {
    border: thin solid var(--main-border-color);
    padding: 20px;
    margin: 20px auto;
}
