.published-paper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto;
}
.published-paper .header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding: 10px;
}

.published-paper .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    padding: 50px 10px 10px 10px;
}
.published-paper .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 50px 20px;
}
.published-paper .published-date {
    text-align: center;
}
.published-paper-vote-widget {
    margin: 40px auto;
    width: 40px;
    padding: 0;
}

.published-paper-vote-widget .vote-up {
    width: 0;
    height: 0;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 40px solid #ccc;
}
.published-paper-vote-widget .vote-up.highlight {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-bottom: 40px solid green;
}


.published-paper-vote-widget .vote-down {
    width: 0;
    height: 0;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-top: 40px solid #ccc;
}
.published-paper-vote-widget .vote-down.highlight {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    border-top: 40px solid red;
}

.published-paper-vote-widget .score {
    width: 28px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    border: thin solid #bbb;
}
