.field {
    display: inline-block;
    margin: 5px;
    background-color: #ddd;
    box-shadow: 1px 1px 1px #999;
    font-size: 12px;
}
.field:hover {
    background-color: #eee;
}

.field a:link, .field a:active, .field a:visited, .field a:hover {
    display: inline-block;
    color: inherit;
    padding: 5px;
}

.field.biology {
    color: white;
    background-color: #70b570;
}
.field.biology:hover {
    background-color: #81c181;
}

.field.chemistry {
    color: white;
    background-color: #38646C;
}
.field.chemistry:hover {
    background-color: #557982;
}

.field.physics {
    color: white;
    background-color: #AF5B59;
}
.field.physics:hover {
    background-color: #D28987;
}
.field.earth-science {
    background-color: #876d61;
    color: white;
}
.field.earth-science:hover {
    background-color: #91786d;
}
.field.space-science {
    background-color: #1e1e1e;
    color: white;
}
.field.space-science:hover {
    background-color: #3c3c3c;
}
.field.archaeology {
    background-color: #bc9f80;
    color: white;
}
.field.archaeology:hover {
    background-color: #c6ab8f;
}
.field.economics {
    background-color: #d8cf6a;
}
.field.economics:hover {
    background-color: #e5dc7b;
}
.field.geography {
    background-color: #68c9ba;
}
.field.geography:hover {
    background-color: #7ad6c8;
}
.field.political-science {
    background-color: #6249a3;
    color: white;
}
.field.political-science:hover {
    background-color: #6f56ad;
}
.field.psychology {
    background-color: #a50d0d;
    color: white;
}
.field.psychology:hover {
    background-color: #ba2121;
}

.field.next {
    color: white;
    background-color: #AF8359;
}
.field.next:hover {
    background-color: #D2AC87;
}
