.field {
    display: inline-block;
    margin: 5px;
    background-color: #ddd;
    box-shadow: 1px 1px 1px #999;
    font-size: 12px;
}
.field:hover {
    background-color: #eee;
}

.field a:link, .field a:active, .field a:visited, .field a:hover {
    display: inline-block;
    color: inherit;
    padding: 5px;
}
.field .remove {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px 0 0;
}
.field .remove svg {
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
}

.field.biology {
    color: white;
    background-color: #70b570;
}
.field.biology:hover {
    background-color: #81c181;
}

.field.chemistry {
    color: white;
    background-color: #38646C;
}
.field.chemistry:hover {
    background-color: #557982;
}

.field.physics {
    color: white;
    background-color: #AF5B59;
}
.field.physics:hover {
    background-color: #D28987;
}
.field.earth-science {
    background-color: #876d61;
    color: white;
}
.field.earth-science:hover {
    background-color: #91786d;
}
.field.space-science {
    background-color: #1e1e1e;
    color: white;
}
.field.space-science:hover {
    background-color: #3c3c3c;
}
.field.anthropology {
    background-color: #cca599;
    color: white;
}
.field.anthropology:hover {
    background-color: #e0c8c0;
}
.field.archaeology {
    background-color: #bc9f80;
    color: white;
}
.field.archaeology:hover {
    background-color: #c6ab8f;
}
.field.economics {
    background-color: #d8cf6a;
}
.field.economics:hover {
    background-color: #e5dc7b;
}
.field.geography {
    background-color: #68c9ba;
}
.field.geography:hover {
    background-color: #7ad6c8;
}
.field.political-science {
    background-color: #6249a3;
    color: white;
}
.field.political-science:hover {
    background-color: #6f56ad;
}
.field.psychology {
    background-color: #a50d0d;
    color: white;
}
.field.psychology:hover {
    background-color: #ba2121;
}
.field.sociology {
    background-color: #2023b5;
    color: white;
}
.field.sociology:hover {
    background-color: #3b3ece;
}
.field.social-work {
    background-color: #2551a3;
    color: white;
}
.field.social-work:hover {

    background-color: #446fbf;
}
.field.computer-science {
    background-color: #c17126;
    color: white;
}
.field.computer-science:hover {
    background-color: #db9351;
}
.field.mathematics {
    background-color: #08186b;
    color: white;
}
.field.mathematics:hover {
    background-color: #293b93;
}
.field.theology {
    background-color: #3f0c9e;
    color: white;
}
.field.theology:hover {
    background-color: #6332bc;
}
.field.agriculture {
    background-color: #91ba23;
    color: white;
}
.field.agriculture:hover {
    background-color: #b2d849;
}
.field.business {
    background-color: #60554e;
    color: white;
}
.field.business:hover {
    background-color: #827d7a;
}
.field.architecture {
    background-color: #888888;
    color: white;
}
.field.architecture:hover {
    background-color: #AAA;
}

.field.physics-space-science {
    background: linear-gradient(to right, #AF5B59, #1e1e1e);
    color: white;
}
.field.physics-space-science:hover {
    background: linear-gradient(to right, #D28987, #3c3c3c);
}
.field.physics-biology {
    background: linear-gradient(to right, #AF5B59, #70b570);
    color: white;
}
.field.physics-biology:hover {
    background: linear-gradient(to right, #AF5B59, #81c181);
}
.field.physics-chemistry{
    background: linear-gradient(to right, #AF5B59, #38646C);
    color: white;
}
.field.physics-chemistry:hover {
    background: linear-gradient(to right, #AF5B59, #557982);
}
