.draft-paper-list-item {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 50px 50px auto;
    grid-template-rows: auto;
    margin: 0px auto;
}
.draft-paper-list-item .wrapper {
    display: block; 
    grid-column: 3 / 4;
    padding: 10px;
}
.draft-paper-list-item .reviews {
    grid-column: 1 / 2; 
}
.draft-paper-list-item .version {
    grid-column: 2 / 3;
}
.draft-paper-list-item .reviews, .draft-paper-list-item .version {
    display: block;

    height: 54px;
    width: 54px; 
    margin: auto 0;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: center; 
    font-size: 24px;
}
.draft-paper-list-item .reviews .label, .draft-paper-list-item .version .label {
    font-size: 9px;
}
.draft-paper-list-item .submission {
    padding: 5px 0;
}
.draft-paper-list-item .submission .preprint {
}

.draft-paper-list-item .title {
    font-size: 22px; 
    padding: 5px;
}
.draft-paper-list-item .title a:link, .draft-paper-list-item .title a:active, .draft-paper-list-item .title a:visited {
    color: black;
}
.draft-paper-list-item .title a:hover {
    color: #888;
}
.draft-paper-list-item .title svg {
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
}
.draft-paper-list-item .authors {
    font-size: 16px;
    padding: 5px;
}
.draft-paper-list-item .fields {
    font-size: 16px;
    margin-left: -5px;
    padding: 5px;
}

