.published-paper-list-item {
    margin: 0px auto;
    padding: 0 5px;
}
.published-paper-list-item .wrapper {
    display: block; 
    padding: 10px 20px;
}

.published-paper-list-item .title {
    font-size: 20px; 
    padding: 5px;
}
.published-paper-list-item .title a:link, .published-paper-list-item .title a:active, .published-paper-list-item .title a:visited {
    color: black;
}
.published-paper-list-item .title a:hover {
    color: var(--link-highlight-color);
}
.published-paper-list-item .title svg {
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
}
.published-paper-list-item .date-and-authors {
    font-size: 12px;
    padding: 5px;
}
.published-paper-list-item .fields {
    font-size: 16px;
    margin-left: -5px;
    padding: 5px;
}

