.published-paper-list-item {
    display: grid;
    grid-template-columns: 64px 54px auto;
    grid-template-rows: auto;
    margin: 0px auto;
    padding: 0 5px;
}
.published-paper-list-item .wrapper {
    display: block; 
    grid-column: 3 / 4;
    padding: 10px;
}
.published-paper-list-item .endorsements {
    grid-column: 1 / 2; 
}
.published-paper-list-item .responses {
    grid-column: 2 / 3;
}
.published-paper-list-item .endorsements {
    display: block;

    height: 58px;
    width: 64px; 
    margin: auto 0;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: center; 
    font-size: 20px;
}
.published-paper-list-item .responses {
    display: block;

    height: 58px;
    width: 54px; 
    margin: auto 0;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: center; 
    font-size: 20px;
}
.published-paper-list-item .endorsements .label, .published-paper-list-item .responses .label {
    font-size: 9px;
}

.published-paper-list-item .title {
    font-size: 20px; 
    padding: 5px;
}
.published-paper-list-item .title a:link, .published-paper-list-item .title a:active, .published-paper-list-item .title a:visited {
    color: black;
}
.published-paper-list-item .title a:hover {
    color: #888;
}
.published-paper-list-item .title svg {
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
}
.published-paper-list-item .date-and-authors {
    font-size: 12px;
    padding: 5px;
}
.published-paper-list-item .fields {
    font-size: 16px;
    margin-left: -5px;
    padding: 5px;
}

