header {
    margin: 0 0 50px 0;
    padding: 10px 50px;
    border-bottom: thin solid #ddd;
}

header h1 {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
}

header section {
    display: inline-block;
}


header section#navigation {
    float: right;
}

header .basic-navigation {
    padding-right: 50px;
}

header a:link, header a:active, header a:visited, header a:hover {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 0 5px;
}
