header {
    margin: 0 0 50px 0;
    padding: 10px 50px;
    border-bottom: thin solid #ddd;
}

header #site-title {
    display: inline-block;

    font-size: 24px;
    font-weight: bold;

    text-align: left;
    width: 50%;
}

header #navigation {
    display: inline-block; 
    text-align: right;

    font-size: 18px;
    padding: 3px 0;
    width: 50%;
}

header .navigation-block {
    display: inline-block;
    margin-left: 25px;
}

header a:link, header a:active, header a:visited, header a:hover {
    padding: 5px;
    margin: 0 5px;
}
