.event-visibility-control {
    padding-left: 30px;
    font-size: 12px;
}
.event-visibility-control.compact {
    padding-left: 10px;
    display: inline-block;
}
.event-visibility-control.floating-menu .menu-trigger {
    font-size: 12px;
}
.event-visibility-control svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -5px;
}
.event-visibility-control .check-placeholder {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -5px;
}
.event-visibility-control .visibility {
    padding: 10px 20px;
}
.event-visibility-control.floating-menu .menu-body {
    text-align: left;
    left: 30px;
    right: auto;
}
.event-visibility-control.floating-menu .menu-body .visibility-group .visibility-group-children .menu-item {
    padding-left: 40px;
}
