.create-journal-form {
    border: thin solid var(--main-border-color);
    margin: 50px auto;
    padding: 20px;
    width: 1000px;
    background-color: white;
}
.create-journal-form h2 {
    text-align: center;
}
.create-journal-form .field-wrapper {
    padding: 20px;
}
.create-journal-form .field-wrapper .explanation {
    padding: 5px 0;
}
.create-journal-form label {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.create-journal-form input[type=text] {
    width: 948px;
    padding: 5px;
    border: thin solid var(--input-border-color);
}

.create-journal-form textarea {
    width: 948px;
    height: 100px;
    padding: 5px;
    border: thin solid var(--input-border-color);
}

.create-journal-form .submit {
    text-align: center;
}
.create-journal-form .error {
    color: red;
    text-align: center;
}
.create-journal-form .overall-error {
    position:relative;
    border: thin solid red;
    margin: 30px auto;
    padding: 50px;
    width: 800px;
}
.create-journal-form .overall-error svg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    color: red;
}
.create-journal-form .model-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
}
.create-journal-form .model-wrapper .model-option {
    padding: 5px;
}
.create-journal-form .model-wrapper .model-option label {
    display: inline-block;
    font-size: 18px;
    padding-left: 5px;
    width: auto;
}
.create-journal-form .model-wrapper .model-option label svg {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    margin-bottom: -0.2em;
}
.create-journal-form .model-wrapper .model-option .explanation {
    padding: 2px;
    font-size: 0.8em;
    color: #333;
}

