.journal-list-item {
    margin: 0px auto;
    padding: 0px 5px;
}
.journal-list-item .wrapper {
    display: block; 
    padding: 10px 20px;
}

.journal-list-item .name {
    font-size: 20px; 
    padding: 5px;
}
.journal-list-item .name a:link, .journal-list-item .name a:active, .journal-list-item .name a:visited {
    color: black;
}
.journal-list-item .name a:hover {
    color: #666;
}
.journal-list-item .description{
    font-size: 14px;
    padding: 5px;
}
.journal-list-item .editors {
    font-size: 12px;
    padding: 5px 10px;
}

