.journal-tag {
    display: inline-block;
    margin-right: 5px;
    border-radius: 26px;
    font-size: 14px;
    height: 14px;
    padding: 5px 10px;
    /*background-color: #329db8;*/
    background-color: white;
    border: thin solid var(--main-border-color);
}
.journal-tag:hover {
    filter: opacity(0.75);
}

.journal-tag a:link, .journal-tag a:active, .journal-tag a:visited {
    color: black;
}
.journal-tag svg {
    padding: 0px 5px;
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.2em;
    color: var(--main-border-color);
    cursor: pointer;
}
.journal-tag svg:hover {
    filter: brightness(90%);
}

