.journal-tag {
    display: inline-block;
    margin-right: 5px;
    border-radius: 26px;
    font-size: 14px;
    height: 14px;
    padding: 5px 10px;
    /*background-color: #329db8;*/
    background-color: white;
    border: thin solid var(--main-border-color);
    box-shadow: 1px 1px 1px #999;
}
.journal-tag:hover {
    filter: opacity(0.75);
}

.journal-tag a:link, .journal-tag a:active, .journal-tag a:visited {
    color: black;
}
