.assignment-widget {
}
.assignment-widget .assigned-member svg.check {
    display: inline-block;
    width: 14px;
}
.assignment-widget .assigned-members {
    padding: 20px 0;
}
.assignment-widget .member, .assignment-widget .assigned-member {
    padding: 5px 20px;
}
