.review-view {
    margin: 20px -5px 20px 0;
}

.review-view  svg.ellipsis {
    display: block;
    margin: 5px auto;
    width: 24px;
    height: 24px;
    color: var(--main-icon-color);
}
.review-view-summary-wrapper {
    border: thin solid var(--main-border-color);
}
.review-view .review-summary, .review-view .review-summary-form { }

.review-view .approved svg {
    color: var(--success-color-main) !important;
}
.review-view .request-changes svg {
    color: var(--secondary-color-main) !important;
}
.review-view .rejected svg {
    color: var(--danger-color-main) !important;
}

