.review-view {
    margin: 50px auto 150px auto;
    width: 1000px;
}
.review-view  svg.ellipsis {
    display: block;
    margin: 10px auto;
    width: 24px;
    height: 24px;
    color: var(--main-icon-color);
}
.review-view .review-summary, .review-view .review-summary-form {
    border: thin solid var(--main-border-color);
    padding: 20px 50px;
}


