.field-suggestions {
    position: relative;
    padding: 10px;
    border: thin solid #ddd;
    box-shadow: 2px 2px 2px #666;
}
.field-suggestions .badge-wrapper {
    display: inline-block;
    margin: 5px;
}
.field-suggestions .badge-wrapper:hover, .field-suggestions .badge-wrapper.highlighted {
    background-color: #eee;
}

