#authentication-navigation {
    position: relative;
}
#authentication-navigation svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: -4px;
}
#authentication-navigation .logged-in-user {
    display: inline-block;
    min-width: 225px;
    text-align: left;
}
#authentication-navigation.not-authenticated a:link, 
#authentication-navigation.not-authenticated a:active, 
#authentication-navigation.not-authenticated a:visited,
#authentication-navigation.not-authenticated a:hover {
    padding: 5px;
    margin: 0 5px;
}

#authentication-navigation a.logout:link, 
#authentication-navigation a.logout:active, 
#authentication-navigation a.logout:visited,
#authentication-navigation a.logout:hover {
    padding: 5px;
    margin: 0 5px;
}
