#creation-navigation {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#creation-navigation svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: -3px;
}
#creation-navigation svg.arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    margin-bottom: -2px;
}

#creation-menu {
    position: absolute;
    top: 52px;
    left: 0;
    text-align: left;
    background-color: var(--header-menu-background-color);
    border-bottom: thin solid var(--header-menu-border-color);
    border-left: thin solid var(--header-menu-border-color);
    border-right: thin solid var(--header-menu-border-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 10px 0 10px 0;
    z-index: 1000;
}
#creation-menu .menu-section {
    padding: 5px 0;
    border-bottom: thin solid var(--header-menu-spacer-color);
}
#creation-menu .menu-section.bottom {
    border-bottom: none;
}
#creation-menu .menu-item {
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
}
