#user-menu {
    position: absolute;
    top: 44px;
    left: 0;
    min-width: 225px;
    text-align: center;
    background-color: var(--user-menu-background-color);
    border-bottom: thin solid var(--user-menu-border-color);
    border-left: thin solid var(--user-menu-border-color);
    border-right: thin solid var(--user-menu-border-color);
    padding: 10px 0 10px 0;
    z-index: 1000;
}
#user-menu .menu-section {
    padding: 5px 0;
    border-bottom: thin solid var(--user-menu-spacer-color);
}
#user-menu .menu-section.bottom {
    border-bottom: none;
}
#user-menu .menu-item {
    padding: 5px 10px 5px 10px;
}
#user-menu .menu-item:hover { }
