#user-account-page.page {
    background-color: inherit;
    border: none;
}
#user-account-page .login-notice {
    border: thin solid #bbb;
    background-color: white;
    padding: 20px;
    text-align: center;
}
