#reset-password-request .page-body {
    margin: 50px auto;
    padding: 30px 55px;
    border: thin solid var(--main-border-color);
    width: 605px;
}
#reset-password-request h1 {
    text-align: center;
    font-size: 1.5em;
}

#reset-password-request label {
    display: inline-block;
    text-align: right;
    width: 50px;
}
#reset-password-request input[type=text] {
    width: 325px;
    margin: 0 10px;
}
#reset-password-request input[type=submit] {
    width: 200px;
}

