.user-view .header {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: thin solid #bbb;
    margin-bottom: 20px;
}
.user-view .header h1 {
    grid-column: 1 / 2;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.user-view .header .controls {
    grid-column: 2 / 3;
    text-align: right;
    padding: 4px;
    margin-right: 10px;
}
.user-view .label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}
.user-view .profile-picture {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
    border: thin solid #bbb;
    background-color: #eee;
}
.user-view .details {
    min-height: 150px;
}
.user-view .details div {
    padding: 12px;
}
.papers {
    padding: 20px;
}
