.user-badge {
    display: inline-block;
    width: 250px;
    padding: 10px;
}
.user-badge .user-profile-picture {
    background-color: #ddd;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.user-badge .user-tag {
    display: inline-block;
}
.user-badge .badge-fields {
    clear:both;
    margin-left: -5px;
}
.user-badge .badge-fields .field-wrapper {
    display: inline-block;
    padding: 5px;
}
