.draft-paper-header {}
.draft-paper-header h2 { margin: 10px 0; padding: 0; }
.draft-paper-header .submitted-date { display: inline-block; margin-right: 5px; }
.draft-paper-header .authors { display: inline-block; }
