.draft-paper-reviews-wrapper {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 38px 1200px;
}
.draft-paper-reviews-wrapper .sidebar {
}

.draft-paper-reviews-wrapper .toolbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    border: thin solid #bbb;
}


.draft-paper-reviews-wrapper .scroll-pane {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    width: 810px;
    height: 1200px;

    overflow: hidden scroll;

    border: thin solid #bbb;
    background-color: #fafafa;
}
