:root {
    --primary-highlight-color: #0796fc;
    --secondary-highlight-color: #32a852;
    --warn-highlight-color: #a83a32;

    --header-background-color: #2a2c2e;
    --header-border-color: #2a2c2e;
    --header-text-color: #D3D9DE;
    --header-text-highlight-color: white;
    --header-spacer-color: #D3D9DE;

    --footer-background-color: #2a2c2e;
    --footer-border-color: #2a2c2e;
    --footer-text-color: #D3D9DE;

    --user-menu-background-color: #2a2c2e;
    --user-menu-border-color: #2a2c2e;
    --user-menu-spacer-color: #D3D9DE;
    --user-menu-text-color: #D3D9DE;
    --user-menu-text-highlight-color: white;

    --page-header-background-color: #f0f3f5;

    --page-background-color: white;
    --page-text-color: #2a2c2e;
    --page-border-color: none;

    --tab-bar-background-color: #f0f3f5;
    --tab-bar-border-color: #D3d9de;
    --tab-bar-text-color: #2a2c2e;
    --tab-bar-icon-color: #D3d9de;

    --main-background-color: white;
    --main-border-color: #D3d9de;
    --main-text-color: #2a2c2e;
    --main-icon-color: #B6c0c8;
    --main-icon-highlight-color: #D3d9de;

    --floating-menu-border-color: #D3d9de;

    --icon-color: #2a2c2e;

    --input-border-color: #B6c0c8;
    --input-highlight-color: #0796fc;

    --link-color: #0796fc;
    --link-highlight-color: #74c3fc;

    --button-color: #e0e7eb;
    --button-border-color: #D3d9de;

    --button-primary-color: #0796fc;
    --button-highlight-color: #32a852;
    --button-warn-color: #a83a32;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: white;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: var(--link-color); 
}

a:hover {
    text-decoration: none;
    color: var(--link-highlight-color); 
}

input[type="text"], input[type="password"], textarea {
    padding: 5px;
    border: thin solid var(--input-border-color);
}
input:focus, textarea:focus, select:focus {
    outline-color: var(--input-highlight-color) !important;
}

input[type="submit"] {
    all: unset;

    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;

    background-color: var(--button-primary-color);
    border: thin solid var(--button-primary-color);
    color: white;
}
input[type="submit"]:hover {
    filter: opacity(80%);
}

#root {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    padding-bottom: 50px;
}

.page {
    width: 1200px;
    min-height: 400px;
    margin: 50px auto;
    background-color: var(--page-background-color);
    color: var(--page-text-color);
    padding: 50px 20px 20px 20px;
}

.maintenance-mode {
    width: 800px;
    margin: 100px auto;
    text-align: center;
}
