:root {
    --color-primary-0: #267257;	/* Main Primary color */
    --color-primary-1: #EBFAF4;
    --color-primary-2: #C0EADB;
    --color-primary-3: #115B41;
    --color-primary-4: #000604;

    --color-secondary-1-0: #27556C;	/* Main Secondary color (1) */
    --color-secondary-1-1: #EBF4F9;
    --color-secondary-1-2: #C0DBE7;
    --color-secondary-1-3: #134056;
    --color-secondary-1-4: #000406;

    --color-secondary-2-0: #408E2F;	/* Main Secondary color (2) */
    --color-secondary-2-1: #F0FCEE;
    --color-secondary-2-2: #D1F4C9;
    --color-secondary-2-3: #257115;
    --color-secondary-2-4: #010800;

    --color-complement-0: #AA5D39;	/* Main Complement color */
    --color-complement-1: #FFF5F0;
    --color-complement-2: #FFE1D2;
    --color-complement-3: #883D19;
    --color-complement-4: #090300;

    --primary-color-lightest: var(--color-primary-1);
    --primary-color-light: var(--color-primary-2);
    --primary-color-mid: var(--color-primary-0);
    --primary-color-dark: var(--color-primary-3);
    --primary-color-darkest: var(--color-primary-4);

    --secondary-color-lightest: var(--color-secondary-1-1);
    --secondary-color-light: var(--color-secondary-1-2);
    --secondary-color-mid: var(--color-secondary-1-0);
    --secondary-color-dark: var(--color-secondary-1-3);
    --secondary-color-darkest: var(--color-secondary-1-4);

    --success-color-lightest: var(--color-secondary-2-1);
    --success-color-light: var(--color-secondary-2-2);
    --success-color-mid: var(--color-secondary-2-0);
    --success-color-dark: var(--color-secondary-2-3);
    --success-color-darkest: var(--color-secondary-2-4);

    --danger-color-lightest: var(--color-complement-1);
    --danger-color-light: var(--color-complement-2);
    --danger-color-mid: var(--color-complement-0);
    --danger-color-dark: var(--color-complement-3);
    --danger-color-darkest: var(--color-complement-4);

    --primary-highlight-color: var(--primary-color-dark);
    --secondary-highlight-color: var(--secondary-color-dark);
    --warn-highlight-color: var(--danger-color-dark);

    --header-background-color: var(--secondary-color-darkest);
    --header-border-color: var(--secondary-color-darkest);
    --header-text-color: var(--secondary-color-lightest);
    --header-text-highlight-color: white;
    --header-spacer-color: var(--secondary-color-lightest);

    --footer-background-color: var(--secondary-color-darkest);
    --footer-border-color: var(--secondary-color-darkest);
    --footer-text-color: var(--secondary-color-lightest);

    --user-menu-background-color: var(--secondary-color-darkest);
    --user-menu-border-color: var(--secondary-color-darkest);
    --user-menu-spacer-color: var(--secondary-color-lightest);
    --user-menu-text-color: var(--secondary-color-lightest);
    --user-menu-text-highlight-color: white;

    --page-header-background-color: var(--secondary-color-lightest);

    --page-background-color: white;
    --page-text-color: var(--secondary-color-darkest);
    --page-border-color: none;

    --tab-bar-background-color: var(--secondary-color-lightest);
    --tab-bar-border-color: var(--secondary-color-light);
    --tab-bar-text-color: var(--secondary-color-darkest);
    --tab-bar-icon-color: var(--secondary-color-darkest);

    --main-background-color: white;
    --main-border-color: var(--secondary-color-light);
    --main-text-color: var(--secondary-color-darkest);
    --main-icon-color: var(--secondary-color-light);
    --main-icon-highlight-color: var(--secondary-color-mid);

    --floating-menu-border-color: var(--secondary-color-light);
    --floating-menu-icon-color: var(--secondary-color-light);

    --icon-color: var(--secondary-color-darkest);

    --card-header-background-color: var(--secondary-color-lightest);
    --card-border-color: var(--secondary-color-light);
    --dots-menu-color: var(--secondary-color-mid);

    --input-background-color: var(--secondary-color-lightest);
    --input-focus-background-color: white;
    --input-border-color: var(--secondary-color-light);
    --input-highlight-color: var(--primary-color-mid);

    --link-color: var(--primary-color-dark);
    --link-highlight-color: var(--primary-color-mid);

    --button-color: var(--secondary-color-lightest);
    --button-border-color: var(--secondary-color-light);

    --button-primary-color: var(--primary-color-mid);
    --button-highlight-color: var(--primary-color-dark);
    --button-warn-color: var(--danger-color-mid);
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: white;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: var(--link-color); 
}

a:hover {
    text-decoration: none;
    color: var(--link-highlight-color); 
}

input[type="text"], input[type="password"], textarea {
    padding: 5px;
    border: thin solid var(--input-border-color);
}
input:focus, textarea:focus, select:focus {
    outline-color: var(--input-highlight-color) !important;
}

input[type="submit"] {
    all: unset;

    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;

    background-color: var(--button-primary-color);
    border: thin solid var(--button-primary-color);
    color: white;
}
input[type="submit"]:hover {
    filter: opacity(80%);
}

svg.icon { 
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
}

#root {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    padding-bottom: 50px;
}

.maintenance-mode {
    width: 800px;
    margin: 100px auto;
    text-align: center;
}
