.registration-form { }
.registration-form h2 {
    text-align: center;
}
.registration-form .explanation {
    padding: 20px;
    text-align: center;
}
.registration-form .field-wrapper {
    padding: 10px;
}
.registration-form label {
    display: inline-block;
    width: 150px;
    padding-right: 10px;
    text-align: right;
}
.registration-form input[type=text], .registration-form input[type=password] {
    display: inline-block;
    width: 360px;
    padding: 5px;
}
.registration-form .submit {
    text-align: center;
}
.registration-form .error {
    color: red;
    padding: 10px 20px;
    text-align: center;
}
