.review-summary { }
.review-summary .header {
    border-bottom: thin solid var(--card-border-color);
    background-color: var(--card-header-background-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.review-summary .header .left { text-align: left; }
.review-summary .header .right { text-align: right; }
.review-summary .recommendation {
    display: inline-block;
}
.review-summary .summary-text {
    padding: 0 20px;
}
.review-summary .author-controls {
    text-align: right;
}
.review-summary .author-controls button {
    margin: 0px 10px;
}
.review-summary .recommendation svg {
    width: 24px;
    height: 24px;
    margin-bottom: -7px;
}
.review-summary .request-changes svg {
    color: var(--secondary-color-main);
}
.review-summary .rejected svg  {
    color: var(--danger-color-main);
}
.review-summary .approved svg {
    color: var(--success-color-main);
}
.review-summary .accepted svg {
    color: var(--success-color-main);
}

