.review-summary {
    padding: 10px;
}
.review-summary .reviewer {
    display: inline-block;
}
.review-summary .recommendation {
    padding: 5px 10px;
}
.review-summary .summary-text {
    padding: 10px;
}
.review-summary .author-controls {
    text-align: right;
}
.review-summary .author-controls button {
    margin: 0px 10px;
}
.review-summary .recommendation svg {
    width: 24px;
    height: 24px;
    margin-bottom: -7px;
}
.review-summary .request-changes svg {
    color: #666;
}
.review-summary .rejected svg  {
    color: red;
}
.review-summary .approved svg {
    color: green;
}
.review-summary .accepted svg {
    color: green;
}

