.journal-submission .submission-controls-wrapper {
    background-color: var(--primary-color-lightest);
    border-top: thin solid var(--primary-color-light);
    border-bottom: thin solid var(--primary-color-light);
}
