.page-tab {
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 1.8em;
    color: var(--tab-bar-text-color);
}
a.page-tab:link, a.page-tab:visited, a.page-tab:active, a.page-tab:hover {
    color: var(--tab-bar-text-color);
}
.page-tab.selected  {
   background-color: white; 
   padding-bottom: 7px;
   margin-bottom: -1px;
   border: thin solid var(--tab-bar-border-color);
   border-bottom: none;
}
.page-tab img {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
}
.page-tab svg {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color);
}

