#reputation-initialization {

}
#reputation-initialization .return-home {
    text-align: center;
}
#reputation-initialization h2 {
    text-align: center;
}
#reputation-initialization .initializing-reputation .text-wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#reputation-initialization .error {
    width: 800px;
    margin: 0 auto;
}
#reputation-initialization .error h2 {
    text-align: center;
}
#reputation-initialization .progress-bar-wrapper {
    width: 800px;
    padding: 20px;
    margin: 20px auto;
}
#reputation-initialization .progress-bar-wrapper .step-description {
    padding: 5px 0;
}

