header {
    display: flex;
    margin: 0 0 20px 0;
    padding: 10px 50px;
    border-bottom: thin solid #aaa;
    background-color: white;
    min-width: 1200px;
}

header #site-title {
    font-size: 24px;
    font-weight: bold;

    flex-grow: 1;

    text-align: left;
}
header #site-title img {
    width: 30px;
    height: 30px;
    margin-bottom: -6px;
}
header #site-title .wip {
    font-size: 10px;
}

header #navigation {
    text-align: right;
    flex-grow: 1;

    font-size: 18px;
    padding: 3px 0;
}

header .navigation-block {
    display: inline-block;
    margin-left: 25px;
}

header a:link, header a:active, header a:visited {
    color: black;
}

header a:hover {
    color: #666;
}
