header {
    display: flex;
    margin: 0;
    padding: 5px 50px;
    border-bottom: thin solid var(--header-border-color);
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    min-width: 1200px;
}

header #site-title {
    font-family: "Noto Serif", serif;
    font-size: 30px;
    font-weight: 300;

    flex-grow: 1;
    padding: 11px 0;

    text-align: left;
}
header #site-title img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    margin-bottom: -4px;
}
header #site-title .wip {
    font-size: 10px;
}

header #navigation {
    text-align: right;
    flex-grow: 1;

    font-size: 18px;
    padding: 3px 0;
}

header .navigation-block {
    display: inline-block;
    margin-left: 7px;
    padding: 11px 0;
}
header .navigation-block .floating-menu a:link, 
header .navigation-block .floating-menu a:active, 
header .navigation-block .floating-menu a:visited,
header .navigation-block .floating-menu a:hover {
    padding: 5px;
    margin: 0 5px;
}
header .floating-menu .menu-item:hover {
    color: white;
    background-color: var(--header-menu-background-highlight-color);
}
header .floating-menu .menu-item a:hover {
    color: white;
}

header a:link, header a:active, header a:visited {
    color: var(--header-text-color);
}

header a:hover {
    color: var(--header-text-highlight-color);
}
