.field {
    display: inline-block;
    margin: 5px;
    background-color: #ddd;
    font-size: 12px !important;
    padding: 0 !important;
    line-height: 1em !important;
    border-radius: 4px;
}
.field:hover {
    filter: brightness(130%);
}

.field a:link, .field a:active, .field a:visited, .field a:hover, .field span {
    display: inline-block;
    color: inherit;
    padding: 7px;
}
.field .remove {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px 0 0;
}
.field .remove svg {
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
}

