.fields-input {
    padding: 20px;
}
.fields-input .explanation {
    line-height: 1.47em;
    padding: 1em 0;
}
.fields-input .selected-fields {
    padding: 5px 0;
}

.fields-input.form h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.fields-input.form input[type=text] {
    width: 948px;
}
.fields-input .error {
    padding: 10px;
}

.fields-input .field-suggestions {
    position: relative;
    padding: 10px;
    border: thin solid var(--main-border-color);
    box-shadow: 2px 2px 2px #666;
}
.fields-input .field-suggestions .badge-wrapper {
    display: inline-block;
    margin: 5px;
}
.fields-input .field-suggestions .badge-wrapper:hover, .fields-input .field-suggestions .badge-wrapper.highlighted {
    background-color: #eee;
}
