.draft-paper-pdf {
    position: relative;
    width: 802px;
}
.draft-paper-pdf #collapsed-comments {
    position: absolute;
    display: none;
    padding: 10px;
    width: 358px;
    border: thin solid var(--main-border-color);
    text-align: center;
}
.draft-paper-pdf #collapsed-comments.show {
    display: block;
}
.draft-paper-pdf #collapsed-comments .instructions {
    font-size: 9px;
}
.draft-paper-pdf-document { 
    width: 802px;
}
