.published-paper-list-item {
    display: grid;
    grid-template-columns: 50px 50px auto;
    grid-template-rows: auto;
    margin: 0px auto;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
}
.published-paper-list-item .wrapper {
    display: block; 
    grid-column: 3 / 4;
    padding: 10px;
}
.published-paper-list-item .votes {
    grid-column: 1 / 2; 
}
.published-paper-list-item .responses {
    grid-column: 2 / 3;
}
.published-paper-list-item .votes, .published-paper-list-item .responses {
    display: block;

    height: 54px;
    width: 54px; 
    margin: auto 0;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: center; 
    font-size: 20px;
}
.published-paper-list-item .votes .label, .published-paper-list-item .responses .label {
    font-size: 9px;
}

.published-paper-list-item .title {
    font-size: 20px; 
    padding: 5px;
}
.published-paper-list-item .authors {
    font-size: 12px;
    padding: 5px;
}
.published-paper-list-item .fields {
    font-size: 16px;
    margin-left: -5px;
    padding: 5px;
}

