.paper-preprint-submission-event { font-size: 12px; }
.paper-preprint-submission-event.timeline-item .timeline-icon {
    width: 20px;
    height: 20px;
    margin-left: -45px;
}
.paper-preprint-submission-event.timeline-item .timeline-icon svg,
.paper-preprint-submission-event.timeline-item .timeline-icon img {
    width: 20px;
    height: 20px;
}
.paper-preprint-submission-event.timeline-item .timeline-item-wrapper {
    padding: 5px 20px 20px 20px;
}
.paper-preprint-submission-event .event-visibility-control .menu-trigger {
    font-size: 12px;
}
