.journal-member-list-item {
    padding: 0 20px;
    font-size: 16px;
}
.journal-member-list-item .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;

}
.journal-member-list-item .user {
    grid-column: 1/2;
    padding: 15px;
}
.journal-member-list-item .permissions {
    grid-column: 4/5;
    padding: 15px;
    text-align: center;
}
.journal-member-list-item .remove {
    grid-column: 5/6;
    text-align: center;
    padding: 15px;
}
.journal-member-list-item .remove svg {
    width: 18px;
    height: 18px;
    color: red;
    margin-bottom: -0.2em;
}

