#publish-page.page {
    border: none;
    background-color: inherit;
    padding: 0;
}

#publish-page .login-notice {
    border: thin solid #ddd;
    background-color: white;
    padding: 20px;
    text-align: center;
}
