.comment-thread {
    border: thin solid #ccc;
    background: white;
    z-index: 1;
    width: 378px;
    margin: 15px auto;
}
.comment-thread.selected {
    z-index: 2;
    border: 2px solid rgba(211, 178, 14, 0.75);
}
.comment-thread .controls {
    text-align: right;
}
.comment-thread-outer .reply {
    padding: 10px;
}

