.comment-thread-pin {
    position: absolute;
    background: rgba(170, 103, 3, 0.75);
    border-radius: 18px;
    width: 16px;
    height: 16px;
    z-index: 100;
    margin-left: -8px;
    margin-top: -8px;
}
.comment-thread-pin:hover {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: rgba(211, 178, 14, 0.75);
}

.comment-thread-pin.selected {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: rgba(211, 178, 14, 0.75);
}
