.user-view .profile-image {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
}
.user-view .details {
    min-height: 150px;
    font-size: 16px;
}
.user-view .details .bio {
    font-size: 14px;
}
.user-view .details div {
    padding: 12px;
}
.user-view .name {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}
.user-view .details svg {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color); 
}

