<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- descriptive meta tags -->
    <meta name="application-name" content="{{applicationName}}" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="peer review,publishing,scholarly publishing,science,scientific publishing,academic publishing,academia,scholarship,open access,diamond open access,open science,pre-prints,pre-print review,papers,academic papers,scientific papers,scholarly papers,articles,scholarly articles,scientific articles" />

    <!-- Open graph meta tags -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="{{type}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:url" content="{{url}}" />

    <!-- Twitter open graph meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{twitterHandle}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{image}}" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&&family=Caveat:wght@400..700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />

    <title>{{title}}</title>

    {{#each devAssets }}
        {{{ this }}}
    {{/each}}
</head>

<body>
    <section id="root"></section>
</body>

</html>
