<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- descriptive meta tags -->
    <meta name="application-name" content="Peer Review" />
    <meta name="description" content="Peer Review is an experiment in scholarly publishing. It is a platform that enables crowdsourced peer review and public dissemination of scientific and academic papers. For now, the platform can only handle pre-prints. It is and will remain open source and diamond open access. It is currently being maintained by a single developer as a side project." />
    <meta name="keywords" content="peer review,publishing,scholarly publishing,science,scientific publishing,academic publishing,academia,scholarship,open access,diamond open access,open science,pre-prints,pre-print review,papers,academic papers,scientific papers,scholarly papers,articles,scholarly articles,scientific articles" />

    <!-- Open graph meta tags -->
    <meta name="og:title" content="Peer Review - A Universal PrePrint+ Platform" />
    <meta name="og:type" content="website" />
    <meta name="og:description" content="Peer Review is an experiment in scholarly publishing. It is a platform that enables crowdsourced peer review and public dissemination of scientific and academic papers. For now, the platform can only handle pre-prints. It is and will remain open source and diamond open access. It is currently being maintained by a single developer as a side project." />
    <meta name="og:image" content="https://staging.peer-review.io/img/how-it-works/review-example-2.png" />
    <meta name="og:url" content="https://staging.peer-review.io" />

    <!-- Twitter open graph meta tags -->
    <meta name="twitter:title" content="Peer Review - A Universal PrePrint+ Platform" />
    <meta name="twitter:description" content="Peer Review is an experiment in scholarly publishing. It is a platform that enables crowdsourced peer review and public dissemination of scientific and academic papers. For now, the platform can only handle pre-prints. It is and will remain open source and diamond open access. It is currently being maintained by a single developer as a side project." />
    <meta name="twitter:image" content="https://staging.peer-review.io/img/how-it-works/review-example-2.png" />
    <meta name="twitter:card" content="summary_large_image" />
    

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />

    <title>Peer Review - A Universal PrePrint+ Platform</title>
</head>

<body>
    <section id="root"></section>
</body>

</html>
