<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- descriptive meta tags -->
    <meta name="application-name" content="{{applicationName}}" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="peer review,publishing,scholarly publishing,science,scientific publishing,academic publishing,academia,scholarship,open access,diamond open access,open science,pre-prints,pre-print review,papers,academic papers,scientific papers,scholarly papers,articles,scholarly articles,scientific articles" />

    <!-- Open graph meta tags -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="{{type}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:url" content="{{url}}" />

    <!-- Twitter open graph meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{twitterHandle}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{image}}" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
<style>
.maintenance-mode {
    width: 800px;
    margin: auto auto;
}
.maintenance-mode h1 {
    text-align: center;
}

</style>

    <title>{{title}}</title>
</head>

<body>
    <section id="root">
        <div class="maintenance-mode">
            <h1>Peer Review - Scheduled Maintenance</h1>
            <p>Peer Review is currently undergoing scheduled maintenance that requires the site to be down.  This usually involves the database and shouldn't take more than an hour or two.  Check back later!</p>
        </div>
    </section>
</body>

</html>
