.file-upload.field-wrapper {
    padding: 20px;
}
.file-upload .upload-input h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.file-upload .upload-input .explanation {
    padding: 10px 0;
}
.file-upload .file {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 10px 0;
}
.file-upload .file .document-icon {
    grid-column: 1 / 2;
    padding: 5px;
}
.file-upload .file .document-icon svg {
    width: 34px;
    height: 34px;
    color: var(--main-icon-color);
}
.file-upload .file .file-details {
    grid-column: 2 / 3;
    padding: 5px;
}
.file-upload .file .close-icon {
    grid-column: 3 / 4;
    padding: 5px;
}
.file-upload .file .close-icon svg {
    width: 24px;
    height: 24px;
    padding: 5px;
    color: var(--main-icon-color);
}
.file-upload .file .close-icon svg:hover {
    color: var(--main-icon-highlight-color);
}
