.authors-input .author-suggestions {
    position: relative;
    padding: 10px;
    border: thin solid var(--main-border-color);
    box-shadow: 2px 2px 2px #666;
}
.authors-input .authors {
    padding: 10px 0;
}
.authors-input h3 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.authors-input .author-suggestions .author-suggestion {
    padding: 10px;
}
.authors-input .author-suggestions .author-suggestion:hover, .authors-input .author-suggestions .author-suggestion.highlighted {
    background-color: var(--primary-color-main);
}
.authors-input .error {
    padding: 10px;
}
