.journals-input { }
.journals-input.field-wrapper {
    padding: 20px;
}
.journals-input.field-wrapper .explanation {
    padding: 5px 0;
}
.journals-input.field-wrapper label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.journals-input.field-wrapper input[type=text] {
    font-size: 14px;
    width: 948px;
    padding: 5px;
    border: thin solid var(--input-border-color);
}

.journals-input .selected-journal {
    padding: 10px;
}

.journals-input .input-wrapper {
    position: relative;
}
.journals-input .input-wrapper .journal-suggestions {
    position: absolute;
    top: 26px;
    left: 0;
    width: 938px;
    padding: 10px;
    text-align: left;
    background-color: white;
    border: thin solid var(--main-border-color);
    box-shadow: 2px 2px 2px #666;
    z-index: 1002;
}
.journals-input .input-wrapper .journal-suggestions .journal-suggestion {
    padding: 10px;
}
.journals-input .input-wrapper .journal-suggestions .journal-suggestion.highlighted {
    background-color: var(--primary-highlight-color);
    color: white;
}
.journals-input .error {
    padding: 10px;
}
