.comment-outer {
    padding: 10px 5px 0 5px;
    border-bottom: thin solid var(--main-border-color);
}
.comment-outer .profile-picture {
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: thin solid var(--main-border-color);
    background-color: var(--main-border-color);
}
.comment-outer .header {
    padding: 0 5px;
}
.comment-outer .comment-inner {
    clear: both;
}
.comment-outer .controls {
    float: right;
}
.comment-outer .controls svg {
    width: 24px;
    height: 24px;
    margin-bottom: -6px;
    padding-left: 5px;
    color: #666;
}
.comment-outer .controls svg:hover {
    color: red;
}
