.comment-form .content {
    padding: 4px;
} 
.comment-form .content textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border: thin solid var(--input-border-color);
    padding: 5px;
    resize: vertical;
}
.comment-form .controls {
    padding: 0 5px 10px 5px;
}
