.comment-outer {
    padding: 10px 5px 0 5px;
    border-bottom: thin solid var(--card-border-color);
}
.comment-outer .profile-picture {
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: thin solid var(--card-border-color);
    background-color: var(--card-border-color);
}
.comment-outer .header {
    padding: 0 5px;
}
.comment-outer .comment-inner {
    clear: both;
}
.comment-outer .controls {
    float: right;
}
.comment-outer .controls svg {
    width: 24px;
    height: 24px;
    margin: 0px 10px;
    color: var(--dots-menu-color);
}
.comment-outer .controls .menu-item {
    padding: 10px 20px;
}
